// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    .black-font {
        color: #222222;
    }

    .gray-dark-font {
        color: #4a4a4a;
    }

    .leading-loose-2 {
        line-height: 40px !important;
    }

    .text-base {
        font-size: 16px;
    }

    .bg-blue {
        background-color: #1747b0;
    }

    .bg-dark {
        background-color: #222222;
    }

    .bg-laravel {
        background: linear-gradient(90deg, #F44881, #EC454F);
    }
}

.container {
    max-width: 920px;
    margin-right: 0;
    margin-left: 0;
}
